<!DOCTYPE html>

{% extends "layout.jinja2" %}
  {% block body %}

        <section class="single_entry">

           <div class="entry-title">
              <h3>Day 1</h3>
              <h5>created on August 21, 2016</h5>
            </div>

            <div class='entry_body'>
              <p>Today I learned about gevent and how to set up a StreamServer.</p>
            </div>

        </section>

        <div class=button>
            <h3><a href='/journal/1/edit-entry'>Edit</a></h3>
        </div>

  {% endblock %}