<!DOCTYPE html>
<html>

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='https://fonts.googleapis.com/css?family=PT+Serif|Montserrat' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/static/base.css">   

  </head>

  <body>

    <header>
        <h1>Learning Journal<h1>
        <h3>Code 401 - Software Development in Python</h3>
        <h5>owner: Tatiana Weaver</h5>
    </header>

    <main>

        <div class=button>
            <h3><a href='/'>Back to Journal</a></h3>
        </div>

        <section class="single_entry">

           <div class="entry-title">
              <h3>Day 2</h3>
              <h5>created on August 22, 2016</h5>
            </div>

            <div class='entry_body'>
              <p>Today we had intro to Pyramid and deployed our app to Heroku.</p>
            </div>

        </section>

        <div class=button>
            <h3><a href='/journal/2/edit-entry'>Edit</a></h3>
        </div>

      </main>

    <footer>      
    </footer>

  </body>

</html>
