<!DOCTYPE html>
<html>

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='https://fonts.googleapis.com/css?family=PT+Serif|Montserrat' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/static/base.css">   

  </head>

  <body>

    <header>
        <h1>Learning Journal<h1>
        <h3>Code 401 - Software Development in Python</h3>
        <h5>owner: Tatiana Weaver</h5>
    </header>

    <main>

        <div class=button>
            <h3><a href='/'>Back to Journal</a></h3>
        </div>

        <section class="single_entry">

           <div class="entry-title">
              <h3>Title:</h3>
             <input class="new-entry-title" placeholder="Day1">
            </div>

            <div class='entry-body'>
              <h3>Notes:</h3>
              <input class='new-entry-body' placeholder="Today I learned about gevent and how to set up a StreamServer.">
            </div>

            <div type=submit class="button">
                <h3><a href='/'>Submit</a></h3>
            </div>

        </section>

      </main>

    <footer>   
    </footer>

  </body>

</html>
